@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

h1{
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 50px;
}
h2{
  font-family: 'Noto Sans';
  font-color: 'red';
  font-weight: normal;
  font-size: 12px;
}
p{
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 12px;
}
