@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*The colors for this website are
#316FA6 - Blue
#6DB88D - Green
#C14747 - Red
#949494 - Gray
#303030 - Black
#C6C6C6 - Lighter Gray
*/

head{
}

body{
	background-color: #C6C6C6;
	font-family: 'Raleway';
	margin-right: 13.5em;
	}

h1{
	font-weight: bold;
	font-size: 3em;
	color: #303030;
}
h2{
  font-weight: normal;
  font-size: 1.5em;
  color: #303030;
}
p{
	font-weight: normal;
	font-size: 1em;
	color: #303030;
}

div.rightMenu ul{
	width:12.5em;
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	margin: 0;
    padding: 0;
	background-color: #6DB88D;
	list-style-type: none;
	overflow: auto;
	text-align: center;
}

div.rightMenu li {
	font-weight: bold;
	font-size: 1.25em;
	color: #C6C6C6;
	padding: 0.5em 1em;
	display: block;
	

}

div.rightMenu li.active{
	background-color: #C14747;

}

div.rightMenu li.anchor{
	background-color:#316FA6;
	font-size:2.25em;

}

div.rightMenu li:hover:not(.anchor){
	background-color: #C14747;
	font-size: 1.5em;

}

div.rightMenu hr{
	border-style: solid;
	color: #C6C6C6;
	border-width: 0.25em;
	margin-top: 0;
    margin-bottom: 0;
}

a{
	font-weight: normal;
	font-size: 1em;
	color: #316FA6;
	text-decoration: none;
}

div.notification{
	
	background-color:#C14747;
	margin-right: 0;
	padding: 0.25em;
}
