@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');

:root{
	--white: #E6E6E6;
	--black: #303030;
}

body{
	font-family: "Roboto";
	font-size: 1.25em;
	color: var(--black);
	background-color: var(--white);
	margin: 0 30% 0 15%;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Fira Sans";
	text-transform: uppercase;
}

