@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

:root{
	--white: #E6E6E6;
	--lightGray: #C3C3C3;
	--darkGray: #949494;
	--black: #303030;
	--red: #C14747;
	--green: #3BA769;
	--blue: #316FA6;
}

*{
	box-sizing: border-box;
}

body{
	font-family: "Roboto";
	font-size: 1.125em;
	color: var(--black);
	background-color: var(--lightGray);
	padding: 0;
	margin: 0;
}

button{
	border: none;
	outline: none;
}

.red{
	background: var(--red);
	color: var(--white);
}

.green{
	background: var(--green);
	color: var(--white);
}

.blue{
	background: var(--blue);
	color: var(--white);
}

.black{
	background: var(--black);
	color: var(--white);
}

#title{
	width: 100%;
	display: block;
	background: var(--black);
}

#titleText{
	font-size: 5em;
	font-family: "Roboto Mono";
	text-transform: uppercase;
	color: var(--white);
	text-align: center;
	font-weight: 900;
	padding: 0.125em 0em 0.125em 0em;
	letter-spacing: 0.15em;
}

#menu {
	width: 15%;
	float: left;
	padding: 0 0em 0 0;
	margin:
}

.menuItem{
	width: 100%;
	text-align: center;
	padding: 0.5em 0em;
	font-size: 1.5em;
	font-family: "Raleway";
	font-weight: 700;
	text-transform: uppercase;
	padding: 0.5em 0;
	display: none;
}

.menuHeader{
	display: block;
}

#mainBody{
	width: 60%;
	float: left;
	padding: 0 2em;
	background-color: var(--white);
}

#sideBar{
	width: 25%;
	float: left;
	padding: 0.5em;
}

@media screen and (max-width: 1200px){
	#menu{
		width: 30%;
		float: right;
	}
	#mainBody{
		width: 70%;
	}
	#sideBar{
		width: 30%;
	}
}

@media screen and (max-width: 768px){
	#menu{
		width: 100%;
	}
	#mainBody{
		width: 100%;
		margin: 0px;
	}
	#sideBar{
		width: 100%;
	}
}


h1, h2, h3, h4, h5, h6{
	font-family: "Fira Sans";
	text-transform: uppercase;
	
}

h1, h2, h3, h4{
	box-shadow: 0.25em 0.15em var(--lightGray);
	display: inline-block;
	padding: 0.125em 2em 0.125em 0.5em;
	color: var(--white);
	background: var(--black);
	text-shadow: 0.075em 0.05em #484848;
}

h1{
	font-size: 2.5em;
	margin: 0.75em 0;
}

h2{
	font-size: 1.75em;
	margin: 0.75em 0;
}

h3{
	font-size: 1.4em;
	margin: 0.75em 0;
}

h4{
	font-size: 1.25em;
	margin: 0.75em 0;
}

h5{
	font-size: 1.5em;
	margin: 0.75em 0;
}

h6{
	font-size: 1.125em;
	margin: 0.75em 0;
}