@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,300,400,500,600,700,800,900');

body{
	background-color:black;
	font-family: Source Code Pro;
	color:#00FF00;
	text-align: center;
}

.download{
	border:4px solid #00ff00;
	padding: 6px;
	font-size: 24px;
	width: 200px;
	margin:auto;
	margin-top: 50px;
}

.download:hover{
	background-color:#00ff00;
	color:black;
}

a{
	text-decoration: none;
	color:#00ff00;
}

#countdown{
	position:fixed;
	top:0;
	left:0;
	border:4px solid #00ff00;
	padding: 6px;
	font-size: 24px;
	background-color:#000000;
}