/*

Colors
#316FA6 - Blue
White Text - Legible
Black Text - Only Large

#48AD73 - Green 1
White Text - Not Legible
Black Text - Legible

#3BA769 - Green 2
White Text - Not Legible
Black Text - Legible

#C14747 - Red
White Text - Legible
Black Text - Only Large

#303030 - Black
White Text - Legible
Black Text - Not Legible

#E6E6E6 - Lighter Gray
White Text - Not Legible
Black Text - Legible

#C3C3C3 - Light Gray
White Text - Not Legible
Black Text - Legible

#949494 - Gray
White Text - Not Legible
Black Text - Legible

#6DB88D - Old Green
White Text - Not Legible
Black Text - Legible



Breaks:

Desktop: 768px+
Tablet: 600px-768px
MobileL: 400px-600px
MobileS: 300px-400px

*/


/*Universals*/


@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900');

:root {
	
	--margin-border-color: #e6e6e6;
	--margin-border-width: 0px;
	--center-content-width: 90%;
	--center-content-width-inv: 10%;
	--half-center-content-width-inv: 5%;
	
}


a{
	color:#316FA6;
	text-decoration: none;
}

body{
	background-color: #C3C3C3;
	color: #303030;
	text-align:center;
	font-family: Noto Sans, sans-serif;
	margin:0;
}

h1{
	font-family: Lato, sans-serif;
	margin:0;
	padding-top: 0.67em;
    padding-bottom: 0.67em;
	font-size:3em;
	text-transform:uppercase;
	font-weight:800;
}

h2{
	font-family: Lato, sans-serif;
	margin:0;
	padding-top: 0.83em;
    padding-bottom: 0.83em;
	font-size:2em;
	text-transform:uppercase;
	font-weight:600;
}

h3{
	font-family: Lato, sans-serif;
	margin:0;
	padding-top: 1em;
    padding-bottom: 1em;
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:800;
}

p{
	margin:0;
	padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (max-width: 600px){
	
	h1{
		font-size: 2.25em;
	}
	
	h2{
		font-size: 1.5em;
	}
	
	h3{
		font-size: 1.125em;
	}

}

@media screen and (max-width: 400px){
	
	p{
		font-size: 0.85em;
	}
}


* {
    box-sizing: border-box;
}

hr{
	border-width:1px;
	border-style: solid;
	color: #949494;
}

img{
	max-width: 100%;
    height: auto;
}




/*Color Blocks*/



.lightergrayblock{
	
	width:var(--center-content-width);
	background-color:#E6E6E6;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}

.grayblock{
	/*Please don't use this*/
	width:var(--center-content-width);
	background-color:#949494;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}

.lightgrayblock{
	
	width:var(--center-content-width);
	background-color:#C3C3C3;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}

.greenblock{
	
	width:var(--center-content-width);
	background-color:#3BA769;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}

.blueblock{
	
	width:var(--center-content-width);
	background-color:#316FA6;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	color:#E6E6E6;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}

.redblock{
	
	width:var(--center-content-width);
	background-color:#C14747;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	color:#E6E6E6;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}

.blackblock{
	
	width:var(--center-content-width);
	background-color:#303030;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	color:#E6E6E6;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding:8px;
}


@media screen and (max-width:768px){
	
	:root {
	
	--center-content-width: 100%;
	--center-content-width-inv: 0%;
	
}
	
}

.bottomblock{
	
	width:var(--center-content-width);
	background-color:#C3C3C3;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	border-left:var(--margin-border-width) solid var(--margin-border-color);
	border-right:var(--margin-border-width) solid var(--margin-border-color);
	padding-top:20px;
	padding-bottom:20px;
	
	color:#949494;
}

@media screen and (max-width:768px){
	
.bottomblock p{
	padding: 8px;
	padding-left: 78px;
	padding-right: 78px;
}

}



/*navbar*/


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
	font-size: 1em;
	font-weight:400;
	width:100%;
}



.navbar li {
    float: left;

}

.navbar-icons li{
		width:16.66%;
}

.navbar li a, .dropbtn {
    display: block;
    color: #E6E6E6;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}


.dropbtn{
	position: relative;
	
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #316FA6;
	
}

.navbar-icons li.dropdown{
		width:16.66%;
} 

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C3C3C3;
    z-index: 1;

}

.navbar-words .dropdown-content {
	min-width:160px;
}

.navbar-icons .dropdown-content {
	width:16.66%;
}

.dropdown-content a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
	
}

.navbar li .dropdown-content a {
	color: #303030;
}

.navbar li .dropdown-content a:hover {
	background-color: #C14747;
	color: #E6E6E6;
	}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-icons{
	display: none;
}

@media screen and (max-width:600px){
	.navbar-icons{
		display: block;
	}
	.navbar-words{
		display:none;
	}
}

@media screen and (max-width:400px){
	.navbar-icons{
		font-size:0.75em;
	}
}





/*custom classes*/

#backtotopbutton a{
		position:fixed;
	padding:16px;
	bottom: 5px;
	right: 5px;
	background-color:#303030;
	border: 2px solid #C3C3C3;
	border-radius: 16px;
	-webkit-transition: width 0.5s, height 0.5s, background-color 0.5s, font-size 0.5s, padding 0.5s;
	transition: width 0.5s, height 0.5s, background-color 0.5s, font-size 0.5s, padding 0.5s;
	color:#E6E6E6;
	display:block;
	font-size:1em;
}

#backtotopbutton:hover a{
	padding:24px;
		font-size: 1.5em;
		background-color:#316fa6;
}



.listbar {
	display: flex;
  justify-content: center;
  align-items: center;
}

.listbar > div a{
display:block;
text-decoration: none;
    text-align: center;
}


/*
Add these lines to your html style page:

#(nameoflistbar).listbar{
	
	 background-color: ;
	
}

#(nameoflistbar).listbar > div{
	
	  line-height: ;

	
}

#(nameoflistbar).listbar > div a{
	
	margin: ;
  font-size: ;
	background-color: ;
	color: ;
}



*/
