@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Thasadith:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Bilbo:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Kristi:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Bilbo:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Allan:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Zeyada:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700,800,900');

* {
	box-sizing: border-box;
}

body{
	font-family: Raleway;
	text-align: center;
	margin: 0px;
	margin-top: 6em;
	padding: 0px 1em;
	font-weight: 200;
	letter-spacing:0.4em;
	font-size: 1em;
	text-transform: uppercase;
}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.pang hr{
	border-color: white;
}

.zerb hr{
	border-color: black;
}

.pang{
	background: black;
	color: white;
}

.zerb{
	background: white;
	color: black;
}

h1{
	display: inline-block;
	font-size: 1em;
	border: 0px solid red;
	margin: 1em;
	padding: 0.5em;
	font-weight: 200;
}

.pang h1{
	color: white; 
	background: black;
	border-color: white;
}

.zerb h1{
	color: black;
	background: white; 
	border-color: black;
}

h2{
	display: inline-block;
	font-size: 0.75em;
	margin: 1em;
	padding: 0.5em;
	font-weight: 200;
}

h3{
	
}

p{
	font-size: 0.85em;
	letter-spacing: 0em;
	font-family: Poppins;
	text-transform: none;
	font-weight: 200;
}

a{
	text-decoration: none;
}

.zerb a{
	color: black;
}

.pang a{
	color: white;
}

i{
	font-weight: 200;
}

img{
	width: 40%;
	margin: 1em;
	transition: 0.5s;
}

@media screen and (max-width: 800px){
	img{
		width: 60%;
	}
}

@media screen and (max-width: 600px){
	img{
		width: 80%;
	}
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.row img{
	width: 100%;
	margin-bottom: 30%;
	vertical-align: middle;
	cursor: pointer;
	height: auto;
}

.column {
  flex: 33.333333%;
  max-width: 33.333333%;
  padding: 0 5%;
}

@media screen and (max-width: 950px){
	
.row {
  padding: 0 3%;
}

.column {
  padding: 0 3%;
}

.row img{
  margin-bottom: 20%;
}
	
}


@media screen and (max-width: 800px) {
	.row{
		padding: 0px;
	}
	img{
		margin-top: 20px;
	}
	
	.column {
		flex: 100%;
		max-width: 100%;
		padding: 0 8px;
	}
	
	body{
		padding-bottom: 64px;
	}
}

body.pangzerb{
	background: rgba(255, 255, 255, 1);
}

.animContainer.zerb{
	left: 50%;
}

.animContainer.pang{
	left: 0;
}

.animContainer{
	display: block;
	width: 50%;
	position:fixed;
	top: 0;
	z-index: 2;
	transition: 0.5s width, 0.5s font-weight, 0.5s left;
}

.animContainer.pang h1{
	border-width: 0px;
	float:right;
	margin-right:1px;
	animation: slideInPang 1s;
	animation-timing-function: ease-out;
}

.animContainer.zerb h1{
	border-width: 0px;
	float:left;
	margin-left:1px;
	animation: slideInZerb 2s;
	animation-timing-function: ease-out;

}

@media screen and (min-width:600px){
	
	.animContainer.zerb:hover{
		left: 33.33%;
		width: 66.67%;
	}
	
	.pangzerbTitleContainer:hover .animContainer.pang{
		width: 33.33%;
	}
	
	.animContainer.pang:hover{
		width: 66.67%!important;
	}
	
	.animContainer.pang:hover + .animContainer.zerb{
		left: 66.67%;
		width: 33.33%;
	}
	
}

@keyframes slideInPang{
	0% {transform:translateX(-200%);opacity:0;}
	100% {transform:translateX(0%);opacity:1;}
}

@keyframes slideInZerb{
	0% {transform:translateX(200%);opacity:0;}
	50% {transform:translateX(200%);opacity:0;}
	100% {transform:translateX(0%);opacity:1;}
}

.titleContainer{
	width:100%;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.fullscreenImg{
	transition: 0.5s opacity;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 3;
	visibility: hidden;
	cursor: auto;
	opacity: 0;
}

.fullscreenImg.pang{
	background: rgba(0, 0, 0, 0.95);
}

.fullscreenImg.zerb{
	background: rgba(255, 255, 255, 0.95);
}

.fullscreenImg img{
	position: fixed;
	top: 50%;
	transform: translate(0%, -50%);
	left: 8px;
	max-width: 45%;
	border: 3px solid red;
	max-height: 95%;
	width: auto;
}

.fullscreenImg img:hover{
	box-shadow: 0px 0px 0px 0px black;
}

.fullscreenText{
	position: fixed;
	display: block;
	top: 50%;
	transform: translate(0%, -50%);
	right: 8px;
	padding: 1em;
	width: auto;
	height: auto;
}

@media screen and (min-width: 800px){
	.fullscreenText{
		width: 45%;
	}
}

@media screen and (max-width: 800px){
	.fullscreenImg img{
		display: none;
	}
	.fullscreenText{
		width: 90%;
		top: 50%;
		left: 5%;
		transform: translate(0%, -50%);
	}
}

@media screen and (max-width: 600px){
	.fullscreenText{

	}
}

.fullscreenImg.pang img{
	border-color: white;
}

.fullscreenImg.zerb img{
	border-color: black;
}

.button{
	border: 2px solid red;
	padding: 0.5em 1em;
	transition: 0.5s color, 0.5s background;
}

.pang .button{
	border-color: white;
	color: white;
	background: rgba(0, 0, 0, 0);
}

.zerb .button{
	border-color: black;
	color: black;
	background: rgba(0, 0, 0, 0);
}

.pang .button:hover{
	color: black;
	background: white;
}

.zerb .button:hover{
	color: white;
	background: black;
}

.hamburger{
	position: fixed;
	top:0;
	left: 0;
	padding: 1.1em 0.9em 1.1em 1.4em;
	cursor: pointer;
	transition: 0.5s color, 0.5s background;
}

.pang .hamburger {
	background: black;
	color: white;
}

.zerb .hamburger {
	background: white;
	color: black;
}

.pang .hamburger:hover{
	background: white;
	color: black;
}

.zerb .hamburger:hover{
	background: black;
	color: white;
}

#menu{
	display: block;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 4.25em;
	opacity: 0;
	transition: 0.5s opacity;
	visibility: hidden;
}

.menuItem{
	display: block;
	width: 20%;
	float: left;
	padding: 1em;
	margin: 0;
	transition: 0.5s color, 0.5s background;
}

@media screen and (max-width: 600px){
	.menuItem{
		width: 100%;
	}
}

.menuItem h2{
	margin: 0;
	padding: 0;
}

.pang .menuItem{
	background: black;
	color: white;
}

.zerb .menuItem{
	background: white;
	color: black;
}

.pang .menuItem:hover{
	background: white;
	color: black;
}

.zerb .menuItem:hover{
	background: black;
	color: white;
}

.contactContainer{
	display: inline-block;
}

.contactContainer i{
	font-size: 1.2em;
	color: rgba(100, 100, 100, 1);
	transition: 0.5s;
}

.contactContainer i:hover{
	color: black;
}

.whatEvenIsLife{
	display: grid;
	grid-template-columns: auto;
}