@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300');

* {
	box-sizing: border-box;
}

body{
	font-family: Raleway;
	text-align: center;
	margin: 0px;
	margin-top: 10em;
	padding: 0px;
	font-weight: 400;
	letter-spacing:0.4em;
	font-size: 0.5em;
	text-transform: uppercase;
}

.pang{
	background: black;
	color: white;
}

.zerb{
	background: white;
	color: black;
}

h1{
	display: inline-block;
	font-size: 2em;
	border: 1px solid red;
	margin: 1em;
	padding: 0.5em;
	font-weight: 200;
}

.pang h1{
	color: white; 
	background: black;
	border-color: white;
}

.zerb h1{
	color: black;
	background: white; 
	border-color: black;
}

a{
	text-decoration: none;
}

.zerb a{
	color: black;
}

.pang a{
	color: white;
}

img{
	width:100%;
	position:relative;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.column {
  flex: 33.333333%;
  max-width: 33.333333%;
  padding: 0 5%;
}

.column .imgContainer {
  margin-bottom: 30%;
  vertical-align: middle;
}

@media screen and (max-width: 950px){
	
.row {
  padding: 0 3%;
}

.column {
  padding: 0 3%;
}

.column .imgContainer {
  margin-bottom: 20%;
}
	
}


@media screen and (max-width: 800px) {
	.row{
		padding: 0px;
	}
	.column .imgContainer{
		margin-top: 20px;
	}
	
	.column {
		flex: 100%;
		max-width: 100%;
		padding: 0 8px;
	}
	
	body{
		padding-bottom: 64px;
	}
}

a.button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4em;
	font-size: 1.5em;
	width:20%;
	transition: 0.3s background, 0.3s color;
}

@media screen and (min-width:600px){
	.pangzerb .buttons:hover a.button{
		width:33.33%;
	}

	.pangzerb .buttons a.button:hover{
		width:66.67%;
		font-weight:700;
	}
}

@media screen and (max-width: 600px){
	a.button{
		font-size: 1.5em;
		font-weight: 700;
		width:33.33333333%;
	}
	.notMobile{
		display:none;
	}
}
a.zerb{
	background: rgba(255, 255, 255, 0.85);
	color: rgba(0, 0, 0, 0.85);
}

a.pang{
	background: rgba(0, 0, 0, 0.85);
	color: rgba(255, 255, 255, 0.85);
}

.pang .button:hover{
	background: rgba(255, 255, 255, 0.85);
	color: rgba(0, 0, 0, 0.85);
	
}

.zerb .button:hover{
	background: rgba(0, 0, 0, 0.85);
	color: rgba(255, 255, 255, 0.85);
}

.buttons{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

.pangzerb .buttons{
	transition: 0.3s width;
}

.pangzerb .buttons a.button{
	width:50%;
	transition: 0.3s width, 0.3s font-weight;
}

body.pangzerb{
	background: rgba(255, 255, 255, 1);
}

.pangAnimContainer{
	width:50%;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.zerbAnimContainer{
	width:50%;
	position:fixed;
	top: 0;
	left: 50%;
	z-index: 2;
}

@keyframes slideInPang{
	0% {transform:translateX(-200%);opacity:0;}
	33% {transform:translateX(-200%);opacity:0;}
	100% {transform:translateX(0%);opacity:1;}
}

@keyframes slideInZerb{
	0% {transform:translateX(200%);opacity:0;}
	66% {transform:translateX(200%);opacity:0;}
	100% {transform:translateX(0%);opacity:1;}
}

.pangAnimContainer h1{
	border-width: 0px;
	float:right;
	margin-right:1px;
	animation: slideInPang 1s;
	animation-timing-function: ease-out;

}

.zerbAnimContainer h1{
	border-width: 0px;
	float:left;
	margin-left:1px;
	animation: slideInZerb 2s;
	animation-timing-function: ease-out;

}

.titleContainer{
	width:100%;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

@media screen and (max-width:600px){
	.notMobile{
		display:none!important;
	}
}

@media screen and (min-width:600px){
	.mobile{
		display:none!important;
	}
}

.imgContainer{
	position: relative;
	display: inline-block;
}

.imgHover{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	opacity: 0;
	transition: 0.3s background, 0.3s opacity;
	padding: 1em;
}

@media screen and (max-width: 800px){
	.imgHover{
		font-size: 150%;
	}
}

.zerb.imgHover:hover{
	background: rgba(255, 255, 255, 0.85);
	color: rgba(0, 0, 0, 0.85);
	opacity: 1;
}

.pang.imgHover:hover{
	background: rgba(0, 0, 0, 0.85);
	color: rgba(255, 255, 255, 0.85);
	opacity: 1;
}

.imgHoverAuthor{
	position: absolute;
	bottom:1em;
	right:1em;
}

